@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 40px;
    padding: 35px;
    border: 3px solid black;
    background-color:  	#3b444b;
}

/* Upper part */
.display {
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    text-align: right;
    padding: 10px;
    height: 70px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.display p {
    margin: 0;
}

.display-number {
    font-size: 2.5em;
}
.display-operation {
    flex: 1;
    font-size: 1em;
}

/* Lower part of the calculator */
.lower-part {
    padding: 20px;
    height: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 20%;
}

.buttons button {
    border: 0;
    border-radius: 50%;
    flex: 1;
    font-size: 2.5em;
    color: white;
    text-align: center;
    font-weight: 700;
}

.digit {
    background-color: #0F52BA;
}

#clear, #backspace{
    border-radius: 20px;
    padding: 10px 12px;
}

.operator, #clear, #backspace {
    background-color: #EAC435;
}